<form>
<h1> Welcome! </h1>
<h2> Ben and Jerry's Information for the true Ben and Jerry's Fans </h2>
<p> If you want to see the Ben and Jerry's Ice Creams with the most tweets click the link below: </p>
    <li><a href="/tweets"> Top Ten Tweeted Ice Cream Flavors </a></li>
<p> If you want to see the users with the most followers and the ice cream they tweeted about click the link below: </p>
    <li><a href="/followers"> Users with the Top Followers and their Ice Cream Tweet </a></li>
<p> If you want to see the flavor of ice cream, a desctiption, and a picture click the link below: </p>
    <li><a href="/icecream"> List of Ice Creams </a></li>
<p> If you want to see what ice creams contain a certain flavor click link below and fill in a specific flavor:</p>
    <li><a href="/add"> List of Ice Creams that Contain Flavor </a></li>
</form>
